#title{
    background-color: #ff4c68;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-size: 3rem;
}

.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link{
    font-size: 20px;
    padding-left: 18px;
    padding-right: 18px;
}

.classy:hover{
    font-weight: bold;
}

.download-btn{
    padding: 5% 3% 5% 0;
}

#features{
    background-color: white;
    padding: 5% 10%;
    text-align: center;
    position: relative;
    z-index: 1;
}

.icony{
    color: #ff4c68;
    padding: 10%;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

h2{
    font-size: 2rem;
    font-family: 'Montserrat';
    line-height: 1.5;
}

.pebbles{
    border-radius: 100%;
    width: 15%;
    margin: 30px;
}

#press{
    padding-bottom: 5%;
    text-align: center;
    background-color: #ef8172;
}

.press-logo{
    width: 15%;
    margin: 2%;
}

.carousel-item{
    padding: 5% 15%;
}

#pricing{
    padding: 5% 10%;
    text-align: center;
}

.dog-pic{
    transform: rotate(25deg); 
    position: absolute; 
    width: 20%; 
    right: 25%;
}

.classy{
    padding: 0 28px;
}

.div-download{
    padding: 7% 0;
}

.margy{
    margin: 0 1%;
}

.margy-2{
    font-family: 'Ubuntu';
    margin: 5% 0.5%;
}

#cta{
    background-color: #ff4c68;
    padding: 5% 10%;
    text-align: center;
    color: white;
}

@media (max-width: 768px) {
    #cta{
        background-color: #ff4c68;
        padding: 10% 15%;
        text-align: center;
        color: white;
        font-family: 'Montserrat';
    }
    
    .div-menu{
        text-align: right;
        right: 0;
    }

    .classy{
        padding: 1% 0;
    }
    
    .div-meet{
        padding-top: 5%;
        text-align: center;
    }

    .margy{
        margin: 0 1.5%;
    }

    .margy-2{
        font-family: 'Ubuntu';
        margin: 10% 1.5%;
    }

    .div-dog{
        margin: auto;
        text-align: center;
    }

    .dog-pic{
        position: static;
        transform: rotate(0);
        width: 50%;
        padding-top: 5%;
    }
}